
// GitHub Primer
@import "@primer/css/index.scss";

// Make box headers slimmer.
.Box-header.Box-header--small {
    padding-top: 10px;
    padding-bottom: 10px
}

// Make box rows slimmer.
.Box-row.Box-row--small {
    padding-top: 6px;
    padding-bottom: 6px
}

// Carrot for dropdown
.dropdown-caret {
    border: 4px solid transparent;
    border-top-color: currentcolor;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: middle;
    width: 0;
}

// Details dialogue modal.
details-dialog {
    left: 50%;
    margin: 10vh auto;
    max-height: 80vh;
    max-width: 90vw;
    position: fixed;
    top: 0;
    transform: translateX(-50%);
    width: 448px;
    z-index: 999;
}

// Loading spinner.
.form-control.loading {
    background-image: url(https://github.com/images/spinners/octocat-spinner-32.gif);
    background-size: 16px;
    padding-right: 30px;
}

// Give selected navigation tabs a top border.
.tabnav-tab {
    border: 1px solid transparent;
    border-top: 3px solid transparent;
}

.tabnav-tab.selected {
    border-color: #e36209 #e1e4e8 transparent;
}
