
// GitHub Primer
@import "@primer/css/index.scss";

// Give selected navigation tabs a top border.
.tabnav-tab {
    border: 1px solid transparent;
    border-top: 3px solid transparent;
}

.tabnav-tab.selected {
    border-color: #e36209 #e1e4e8 transparent;
}
